body {
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
  background: linear-gradient(to right, #121213, #292a2b);
  color: white;
}

nav {
  background-color: rgb(20, 20, 20);
  height: 8vh;
  display: flex;
  justify-content: space-between;

  align-items: center;

  a {
    margin-left: 20px;
    color: rgb(202, 3, 3);
    text-decoration: none;
    font-size: 1.5em;
  }

  .search-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    width: 80%;

    form {
      margin-right: 20px;
      width: 100%;
      height: 2em;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      i {
        font-size: 1.5em;
        color: rgb(202, 3, 3);
      }
      .block {
        width: 10px;
      }

      input {
        padding: 0px 5px;
        height: 80%;
        width: 300px;
        border: none;
        border-radius: 5px;

        &:focus {
          outline: none;
          border: 1.5px solid rgb(202, 3, 3);
        }
      }

      button {
        height: 80%;
        cursor: pointer;
        border-radius: 5px;
        background-color: rgb(145, 145, 145);
        outline: none;
        border-color: rgb(160, 160, 160);
      }
    }
  }
}

#movieSearched {
  margin: 0px;
}

.movie {
  h3 {
    padding: 10px;
  }
}

.movie-list {
  position: relative;
  overflow-y: hidden;

  &::-webkit-scrollbar {
    display: none;
  }

  .image-list {
    overflow-x: scroll;
    display: flex;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  button {
    color: white;
    width: 30px;
    height: 30%;
    background-color: rgba(0, 0, 0, 0.411);
    border: none;
    cursor: pointer;
    outline: none;

    &:hover {
      background-color: rgba(0, 0, 0, 0.7);
    }
  }

  button.left {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
  }

  button.right {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
  }

  img {
    height: 330px;
    width: 250px;
    transition: all 0.5s ease-in-out;

    &:hover {
      margin: 0 10px;
      transform: scale(1.05);
      cursor: pointer;
    }
  }

  p {
    color: white;
    margin: 0;
    text-align: center;
  }
}

.movie-info-container {
  display: none;
  position: relative;
  justify-content: center;
  background-color: black;

  .close-movie-info {
    margin: 10px 10px;
    font-size: 2em;
    color: rgb(116, 0, 0);
    position: absolute;
    z-index: 2;
    cursor: pointer;
    transition: all 0.2s ease-in;

    &:hover {
      color: rgb(255, 51, 51);
      scale: (2);
    }
  }

  .backdrop-overlay {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.705),
      rgba(255, 255, 255, 0)
    );
  }

  .movie-info {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 720px;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;

    .movie-video-container {
      z-index: 3;
    }

    .movie-info-text {
      z-index: 2;
      color: rgb(224, 224, 224);
      width: 40%;
      span {
        padding: 5px;
        background-color: rgba(255, 255, 255, 0.247);
      }
    }
  }
}

.container-display {
  display: block;
}

@media (max-width: 1024px) {
  nav {
    .search-wrapper {
      width: 60%;
      form {
        margin-right: 10px;

        i {
          font-size: 1.2em;
        }
        input {
          height: 30px;
        }

        .block {
          width: 5px;
        }

        button {
          height: 30px;
        }
      }
    }
  }

  .movie {
    h3 {
      font-weight: 300;
      padding: 10px 0;
      margin: 10px;
      font-size: 1.2em;
    }
  }

  .movie-info-container {
    .close-movie-info {
      margin: 5px 10px;
      font-size: 1.5em;
      color: rgb(255, 51, 51);
      right: 0;
      position: absolute;
      z-index: 2;
      cursor: pointer;
      transition: all 0.2s ease-in;
    }
    .movie-info {
      height: 400px;

      .movie-video-container {
        z-index: 3;
        iframe {
          height: 200px;
          width: 250px;
        }
      }

      .movie-info-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        font-weight: 200;
        font-size: 0.8em;

        p {
          margin: 10px 0;
        }

        h1 {
          margin: 0;
          padding: 15px 0 10px 0;
          line-height: 20px;
        }
        span {
          padding: 2px;
          background-color: rgba(255, 255, 255, 0.247);
        }
      }
    }
  }
}

@media (max-width: 520px) {
  nav {
    .brand-wrapper {
      a {
        width: 100%;
        margin-left: 10px;
        font-size: 1em;
        text-align: center;
      }
    }

    .search-wrapper {
      width: 60%;
      form {
        margin-right: 10px;

        i {
          font-size: 1em;
        }
        input {
          height: 25px;
          width: 180px;
        }

        .block {
          width: 5px;
        }

        button {
          height: 25px;
        }
      }
    }
  }

  .movie {
    h3 {
      font-weight: 300;
      padding: 10px 0;
      margin: 10px;
      font-size: 0.9em;
    }
    img {
      width: 110px;
      height: 150px;
    }

    button {
      width: 25px;
      height: 40%;
    }
  }

  .movie-info-container {
    .close-movie-info {
      margin: 5px 5px;
      font-size: 1.5em;
      color: rgb(255, 51, 51);
      right: 0;
      position: absolute;
      z-index: 2;
      cursor: pointer;
      transition: all 0.2s ease-in;
    }
    .movie-info {
      height: 350px;

      .movie-video-container {
        z-index: 3;
        iframe {
          height: 120px;
          width: 160px;
        }
      }

      .movie-info-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        line-height: 11px;
        font-weight: 100;
        font-size: 0.6em;

        p {
          margin: 10px 0;
        }

        h1 {
          margin: 0;
          padding: 15px 0 10px 0;
          line-height: 15px;
        }
        span {
          padding: 2px;
          background-color: rgba(255, 255, 255, 0.247);
        }
      }
    }
  }
}
